/* 
    Document   : tracker
    Created on : Apr 19, 2014, 2:15:19 PM
    Author     : bwilk
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/*
here's our class for browsers without a zoom property,
this sets the transform's origin. In this case it defines
the point from which our scale will happen.
We want it to row from the center and from the top,
so 50% and 0 it is.
*/
.no-zoom body {
    transform-origin:0% 0;
}
